<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" alt="Logo" style="width: 150px;height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">CRUD Productos PeruScale</h3>
            </div>
            <div class="card-body text-center">
                <p>Bienvenido al sistema de gestión de productos de Peruscale. Esta herramienta está diseñada para facilitar la administración eficiente de nuestro inventario de balanzas y repuestos. Aquí podrás añadir nuevos productos a nuestro catálogo, asegurando que nuestra oferta siempre esté actualizada y responda a las necesidades de nuestros clientes.</p>
                <a href="/add" class="btn btn-primary">Crear un producto</a>
            </div>
        </div>
    </div>
</main>